<h1>Search for Food!</h1>

<form (submit) = "sendFetch(input.value, price.value); false;">
  <label>Price</label>
  <select #price>
    <option value = "$">$</option>
    <option value = "$$">$$</option>
    <option value = "$$$">$$$</option>
    <option value = "$$$$">$$$$</option>
  </select>
  <label>Location</label>
  <input #input/> 
  <button type = "submit">Submit</button>
</form>

 <div *ngIf = "dinnerDone == true">
  <img src = {{dinner.image_url}}/>
  <ul>
    <li>Rating: {{ratingView}}</li>
    <li>Name: {{dinner.name}}</li>
    <li>{{dinner.location.address1}}</li>
    <li>{{dinner.location.city}}</li>
    <li>Phone: {{dinner.phone}}</li>
    <li *ngIf = "transaction == 'delivery'">Yes, they deliver</li>
  </ul>
</div>